html { color: #222; }
html.dark {
	color: #ddd;
	background-color: #222;
}
p {
	font-size: 1rem;
	margin: 0;
}
h1 {
	font-family: sans-serif;
	font-size: 1.5rem;
	margin: 0;
}
#setup,
#workspace { margin-bottom: 1rem; }
table,
tbody,
tr {
	display: block;
}
table {
	table-layout: fixed;
	font-size: 0;
	border: 1px solid black;
	border-collapse: collapse;
	background-image: url(./create-assets/transparent-bg.png);
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
.dark table {
	background-image: url(./create-assets/transparent-bg-dark.png);
}
td {
	display: inline-block;
	width: 17px;
	height: 17px;
	border: solid #aaa;
	border-width: 0 1px 1px 0 ;
}
tr:last-of-type > td { border-bottom-width: 0; }
td:last-of-type { border-right-width: 0; }
fieldset, label {
	display: inline-block;
}
label {
	vertical-align: top;
	margin-right: 5px;
}
label + button {
	margin-top: 5px;
	vertical-align: bottom;
}
span, input {
	vertical-align: middle;
}
.label {
	margin: 0 0 5px;
}
.block {
	display: block;
}
#color-chip {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.alpha-btn {
	width: 16px;
	height: 16px;
	background-color: white;
	background-image: url('./create-assets/transparent-bg.png');
	background-size: 131%;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	border: 2px solid #fff;
	border-radius: 2px;
	box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.4);
	outline: 1px solid #222;
}
.dark .alpha-btn {
	background-image: url('./create-assets/transparent-bg-dark.png');
}
.img-upload {
	margin-top: 10px;
	padding: 4px;
	border: 1px solid #222;
	border-radius: 3px;
}
#dropper.isActive { background-color: gold; }
img, canvas {
	outline: 1px solid #222;
}
#image {
	/* for FF compatibility */
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
table, img, canvas {
	background-color: white;
}
